.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-bottom: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.SubCategory-Table {
  background-color: bisque;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #6d6d6d;
}

.parent {
  position: relative;
  background: green;
}

.Floating-color-div {
  position: absolute;
  bottom: 0px;
  background: red;
}

.Paint-brush {
  height: 10vmin;
}

table td {
  border: 1px solid #6d6d6d;
  width: "100%";
}
